<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/navbar.ejs")%>

    <p>Home</p>
    <div>
        <h1>Our Blogs</h1>
       <% if(blogs.length > 0){ %>
           <% blogs.map(blog=>{ %>
                   <div>
                    <h2><%= blog.title %></h2>
                    <p><%= blog.snipper %></p>
                </div>
           <%})%>
           <%}else { %>
            <p>No blogs as of now...</p>
          <% } %>
    </div>

    <%- include("./partials/footer.ejs")%>
</body>
</html>