<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/navbar.ejs") %>

 <div>
    <div>
        <% if (blogs.length > 0) { %>
         <% blogs.map((blog)=>{ %>
        <div>
        <a href="/blogs/<%= blog.id%>" class="single">
         <h1><%= blog.title %></h1>
         <p><%= blog.snippet%></p>
         </a>
         </div>
       <% }) }%>
    </div>
 </div>
</body>
</html>